# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
tests/read_raw_data.cc
tests/read
siga/include/sort.h
build/cmake_install.cmake
build/CMakeCache.txt
build/CTestTestfile.cmake
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/siga/cmake_install.cmake
build/siga/CTestTestfile.cmake
build/siga/Makefile
build/siga/CMakeFiles/CMakeDirectoryInformation.cmake
build/siga/CMakeFiles/progress.marks
build/siga/CMakeFiles/siga.dir/build.make
build/siga/CMakeFiles/siga.dir/cmake_clean_target.cmake
build/siga/CMakeFiles/siga.dir/cmake_clean.cmake
build/siga/CMakeFiles/siga.dir/compiler_depend.make
build/siga/CMakeFiles/siga.dir/compiler_depend.ts
build/siga/CMakeFiles/siga.dir/depend.make
build/siga/CMakeFiles/siga.dir/DependInfo.cmake
build/siga/CMakeFiles/siga.dir/flags.make
build/siga/CMakeFiles/siga.dir/link.txt
build/siga/CMakeFiles/siga.dir/progress.make
build/tests/cmake_install.cmake
build/tests/CTestTestfile.cmake
build/tests/Makefile
build/tests/test1
build/tests/test2
build/tests/test3
build/tests/test4
build/tests/test5
build/tests/test6
build/tests/test7
build/tests/test8
build/tests/CMakeFiles/CMakeDirectoryInformation.cmake
build/tests/CMakeFiles/progress.marks
build/tests/CMakeFiles/test1.dir/build.make
build/tests/CMakeFiles/test1.dir/cmake_clean.cmake
build/tests/CMakeFiles/test1.dir/compiler_depend.make
build/tests/CMakeFiles/test1.dir/compiler_depend.ts
build/tests/CMakeFiles/test1.dir/depend.make
build/tests/CMakeFiles/test1.dir/DependInfo.cmake
build/tests/CMakeFiles/test1.dir/flags.make
build/tests/CMakeFiles/test1.dir/link.txt
build/tests/CMakeFiles/test1.dir/progress.make
build/tests/CMakeFiles/test2.dir/build.make
build/tests/CMakeFiles/test2.dir/cmake_clean.cmake
build/tests/CMakeFiles/test2.dir/compiler_depend.make
build/tests/CMakeFiles/test2.dir/compiler_depend.ts
build/tests/CMakeFiles/test2.dir/depend.make
build/tests/CMakeFiles/test2.dir/DependInfo.cmake
build/tests/CMakeFiles/test2.dir/flags.make
build/tests/CMakeFiles/test2.dir/link.txt
build/tests/CMakeFiles/test2.dir/progress.make
build/tests/CMakeFiles/test3.dir/build.make
build/tests/CMakeFiles/test3.dir/cmake_clean.cmake
build/tests/CMakeFiles/test3.dir/compiler_depend.make
build/tests/CMakeFiles/test3.dir/compiler_depend.ts
build/tests/CMakeFiles/test3.dir/depend.make
build/tests/CMakeFiles/test3.dir/DependInfo.cmake
build/tests/CMakeFiles/test3.dir/flags.make
build/tests/CMakeFiles/test3.dir/link.txt
build/tests/CMakeFiles/test3.dir/progress.make
build/tests/CMakeFiles/test4.dir/build.make
build/tests/CMakeFiles/test4.dir/cmake_clean.cmake
build/tests/CMakeFiles/test4.dir/compiler_depend.make
build/tests/CMakeFiles/test4.dir/compiler_depend.ts
build/tests/CMakeFiles/test4.dir/depend.make
build/tests/CMakeFiles/test4.dir/DependInfo.cmake
build/tests/CMakeFiles/test4.dir/flags.make
build/tests/CMakeFiles/test4.dir/link.txt
build/tests/CMakeFiles/test4.dir/progress.make
build/tests/CMakeFiles/test5.dir/build.make
build/tests/CMakeFiles/test5.dir/cmake_clean.cmake
build/tests/CMakeFiles/test5.dir/compiler_depend.make
build/tests/CMakeFiles/test5.dir/compiler_depend.ts
build/tests/CMakeFiles/test5.dir/depend.make
build/tests/CMakeFiles/test5.dir/DependInfo.cmake
build/tests/CMakeFiles/test5.dir/flags.make
build/tests/CMakeFiles/test5.dir/link.txt
build/tests/CMakeFiles/test5.dir/progress.make
build/tests/CMakeFiles/test6.dir/build.make
build/tests/CMakeFiles/test6.dir/cmake_clean.cmake
build/tests/CMakeFiles/test6.dir/compiler_depend.make
build/tests/CMakeFiles/test6.dir/compiler_depend.ts
build/tests/CMakeFiles/test6.dir/depend.make
build/tests/CMakeFiles/test6.dir/DependInfo.cmake
build/tests/CMakeFiles/test6.dir/flags.make
build/tests/CMakeFiles/test6.dir/link.txt
build/tests/CMakeFiles/test6.dir/progress.make
build/tests/CMakeFiles/test7.dir/build.make
build/tests/CMakeFiles/test7.dir/cmake_clean.cmake
build/tests/CMakeFiles/test7.dir/compiler_depend.make
build/tests/CMakeFiles/test7.dir/compiler_depend.ts
build/tests/CMakeFiles/test7.dir/depend.make
build/tests/CMakeFiles/test7.dir/DependInfo.cmake
build/tests/CMakeFiles/test7.dir/flags.make
build/tests/CMakeFiles/test7.dir/link.txt
build/tests/CMakeFiles/test7.dir/progress.make
build/tests/CMakeFiles/test8.dir/build.make
build/tests/CMakeFiles/test8.dir/cmake_clean.cmake
build/tests/CMakeFiles/test8.dir/compiler_depend.make
build/tests/CMakeFiles/test8.dir/compiler_depend.ts
build/tests/CMakeFiles/test8.dir/depend.make
build/tests/CMakeFiles/test8.dir/DependInfo.cmake
build/tests/CMakeFiles/test8.dir/flags.make
build/tests/CMakeFiles/test8.dir/link.txt
build/tests/CMakeFiles/test8.dir/progress.make
build/siga/CMakeFiles/siga.dir/compiler_depend.internal
build/tests/CMakeFiles/test1.dir/compiler_depend.internal
build/tests/CMakeFiles/test2.dir/compiler_depend.internal
build/tests/CMakeFiles/test3.dir/compiler_depend.internal
build/tests/CMakeFiles/test4.dir/compiler_depend.internal
build/tests/CMakeFiles/test5.dir/compiler_depend.internal
build/tests/CMakeFiles/test6.dir/compiler_depend.internal
build/tests/CMakeFiles/test7.dir/compiler_depend.internal
build/tests/CMakeFiles/test8.dir/compiler_depend.internal
